@import url(https://fonts.bunny.net/css?family=arya:400,700);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    align-items: center;
    display: flex;
<<<<<<< HEAD
=======
    flex-direction: column;
>>>>>>> c88d3e821fde92dcdda2271ae373c9a9ffb947ae
    font-family: 'arya', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
